<h2 class="text-left">Login</h2>

<div class="alert alert-danger" *ngIf="loginError" data-test="login-error">
  Unable to log in. Please check your e-mail and password
</div>

<form [formGroup]="form">
  <whocares-form-field label="E-mail">
    <input type="text" class="form-control" formControlName="email" data-test="email-field" />
  </whocares-form-field>

  <whocares-form-field label="Wachtwoord">
    <input type="password" class="form-control" formControlName="password" data-test="password-field" />
  </whocares-form-field>

  <div class="d-flex justify-content-between">
    <a routerLink="/auth/register" data-test="register-btn">Registreer</a>

    <button type="button" class="btn btn-primary" (click)="login()" data-test="login-btn">
      Log in
    </button>
  </div>
</form>
