<div class="form-group">
  <label class="d-block">
    {{ label }}
  </label>

  <ng-content></ng-content>

  <ng-container>
    <div *ngIf="control && control.dirty" class="validation-error">
      <span class="validation-error__text text-danger" *ngIf="control.errors?.required"
            data-test="required-validation-message">
        Dit veld is verplicht
      </span>

        <span class="validation-error__text text-danger" *ngIf="control.errors?.email"
              data-test="email-validation-message">
        Vul een valide e-mail in
      </span>

        <span class="validation-error__text text-danger" *ngIf="control.errors?.password"
              data-test="password-validation-message">
        Het wachtwoord moet minstens 6 tekens lang zijn
      </span>
    </div>
  </ng-container>
</div>
