.chat-message {
  background: #ddd;
  padding: 5px 15px;
  border-radius: 10px;
  display: inline-block;
  max-width: 40%;

  &--me {
    float: right;
  }
}

.chat-message__date {
  font-size: 0.8em;
  color: #cecece;
}
