<div class="chat-message__date">
  {{ message.createdAt | date : 'dd-MM-yyyy HH:mm' }}
</div>

<div class="chat-message">
  <span class="chat-message__text">
    {{ message.content }}
  </span>
</div>
