<p-card>
  <p-header>
    <div class="p-card-body">
      <div class="p-card-title">
        <i class="fas fa-user"></i> Patient
      </div>
    </div>
  </p-header>

  <div class="row" *ngIf="patient">
    <div class="col-6">
      <div class="card-row">
        <div class="label">
          Naam
        </div>

        <div class="value">
          {{ patient.firstName }} {{ patient.lastName }}
        </div>
      </div>

      <div class="card-row">
        <div class="label">
          Geboortedatum
        </div>

        <div class="value">
          {{ patient.birthdate | date : 'dd-MM-yyyy' }}
        </div>
      </div>

      <div class="card-row">
        <div class="label">
          Geslacht
        </div>

        <div class="value">
          {{ patient.gender === 'M' ? 'Man' : 'Vrouw' }}
        </div>
      </div>
    </div>

    <div class="col-6">
    </div>
  </div>
</p-card>
