<h2 data-test="register-title">Registreer</h2>

<form #formRef="ngForm" [formGroup]="form" (ngSubmit)="submit()">

  <div *ngIf="formRef.submitted && form.invalid" class="validation-error">
    <span class="validation-error__text text-danger" data-test="form-error-message">
      Vul alle verplichte velden in
    </span>
  </div>

  <whocares-form-field label="Geslacht*">
    <p-selectButton [options]="genderOptions" formControlName="gender" data-test="gender-field"></p-selectButton>
  </whocares-form-field>

  <div class="row">
    <div class="col-lg-6">
      <whocares-form-field label="E-mail *" [control]="form.get('email')" data-test="email-form-field">
        <input type="text" autocomplete="new-email" class="form-control" formControlName="email" data-test="email-field"/>
      </whocares-form-field>
    </div>

    <div class="col-lg-6">
      <whocares-form-field label="Voornaam *" [control]="form.get('firstName')" data-test="first-name-form-field">
        <input type="text" class="form-control" formControlName="firstName" data-test="first-name-field"/>
      </whocares-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <whocares-form-field label="Tussenvoegsel" [control]="form.get('lastNamePrefix')">
        <input type="text" class="form-control" formControlName="lastNamePrefix" data-test="last-name-prefix-field"/>
      </whocares-form-field>
    </div>

    <div class="col-lg-6">
      <whocares-form-field label="Achternaam *" [control]="form.get('lastName')" data-test="last-name-form-field">
        <input type="text" class="form-control" formControlName="lastName" data-test="last-name-field"/>
      </whocares-form-field>
    </div>
  </div>


  <whocares-form-field label="Wachtwoord *" [control]="form.get('password')" data-test="password-form-field">
    <input type="password" autocomplete="new-password" class="form-control" formControlName="password" data-test="password-field"/>
  </whocares-form-field>

  <whocares-form-field label="Wachtwoord controle *" [control]="form.get('confirmPassword')" data-test="password-confirmation-form-field">
    <input type="password" class="form-control" formControlName="confirmPassword" data-test="password-confirmation-field"/>
  </whocares-form-field>

  <div *ngIf="form?.errors?.match && form.get('confirmPassword').dirty" class="validation-error">
    <span class="validation-error__text text-danger" data-test="password-error-message">
      De wachtwoord velden komen niet overeen
    </span>
  </div>


  <whocares-form-field label="Geboortedatum *" [control]="form.get('birthdate')">
    <p-calendar dateFormat="dd-mm-yy" [monthNavigator]="true" [yearNavigator]="true" class="d-block w-100" [maxDate]="today"
                styleClass="w-100" formControlName="birthdate" [showIcon]="true" data-test="birthdate-field"></p-calendar>
  </whocares-form-field>

  <button type="button" routerLink="/auth/login" class="btn btn-secondary ml-2 float-right" data-test="cancel-btn">
    Annuleren
  </button>

  <button type="submit" class="btn btn-primary float-right" data-test="submit-btn">
    Registreer
  </button>

</form>

