@import '../styles/variables';

.side-menu {
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 0;
  background: #fff;
  width: 200px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  &__menu-item {
    padding: 15px;
    color: #333;
    font-weight: 600;
    border-bottom: 1px solid #ddd;

    &:hover {
      background: darken(#fff, 5);
      cursor: pointer;
    }
  }
}
