<div class="side-menu">
  <div class="side-menu__body">
    <div class="side-menu__menu-item" *ngFor="let item of menuItems" [routerLink]="item.routerLink">
      <span class="side-menu__menu-item-icon">
        <i [ngClass]="item.icon"></i>
      </span>

      <span class="side-menu__menu-item-label">
        {{ item.label }}
      </span>
    </div>
  </div>
</div>
