<p-card>
  <p-header>
    <div class="p-card-body">
      <div class="p-card-title">
        <i class="fas fa-user-md"></i> Zorgverleners
      </div>
    </div>
  </p-header>

  <div *ngIf="healthcareproviders?.length > 0; else elseBlock">
    <p-table [value]="healthcareproviders">
      <ng-template pTemplate="header">
        <tr>
          <th>Naam</th>
          <th>Functie</th>
          <th>Beschrijving</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-healthcareprovider>
        <tr>
          <td>{{healthcareprovider.firstName}} {{healthcareprovider.lastName}}</td>
          <td>{{healthcareprovider.type.name}}</td>
          <td>{{healthcareprovider.type.description}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <ng-template class="row" #elseBlock>
    <span>Geen zorgverleners gevonden</span>
  </ng-template>

</p-card>
