@import '../styles/variables';

.timeline {
  border-left: 2px dashed $primary;
  padding-left: 15px;
}
.timeline-item {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  &__date {
    font-size: 0.8em;
    color: #ddd;
  }

  &__title {
    display: block;
    color: #333;
    font-weight: 600;
  }
}
