<div class="timeline">
  <div class="timeline-item" *ngFor="let item of items">
    <span class="timeline-item__date">
      {{ item.date | date : 'dd-MM-yyyy' }}
    </span>

    <span class="timeline-item__title">
      {{ item.title }}
    </span>

    <p class="timeline-item__content">
      {{ item.content }}
    </p>
  </div>
</div>
