@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.login-container {
  background-image: url('../../../../assets/images/login-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-container {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);

  @include media-breakpoint-up(md) {
    width: 55%;
  }
}

.image-column {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 200px;
    margin: 0 auto;
  }
}

.form-column {
  @include media-breakpoint-up(xl) {
    border-left: 1px solid #f0f0f0;
  }
}

.login-company {
  font-size: 35px;
}
