<div [routerLink]="['/patient-record']" class="cursor-pointer back-btn mb-3">
  <i class="fa fa-chevron-left"></i> Terug
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="row" *ngIf="recordCase$ | async as recordCase">
      <div class="col-lg-12 mb-3">
        <p-card>
          <p-header>
            <div class="p-card-body">
              <div class="p-card-title">
                <i class="fas fa-clipboard-list"></i> Diagnose
              </div>
            </div>
          </p-header>

          <div class="row">
            <div class="col-6">
              <div class="card-row">
                <div class="label">
                  Naam
                </div>

                <div class="value">
                  {{ recordCase.diagnosis.name }}
                </div>
              </div>

              <div class="card-row">
                <div class="label">
                  Omschrijving
                </div>

                <div class="value">
                  {{ recordCase.diagnosis.description }}
                </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>

      <div class="col-12">
        <p-card>
          <p-header>
            <div class="p-card-body">
              <div class="p-card-title">
                <i class="fas fa-pills"></i> Medicijnen
              </div>
            </div>
          </p-header>

          <p-table [value]="medicineRecords$ | async" [columns]="columns">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  <ng-container *ngIf="col.type === 'date'; else defaultTemplate">
                    {{ rowData[col.field] | date : 'dd-MM-yyy' }}
                  </ng-container>

                  <ng-template #defaultTemplate>
                    {{ col.field | nestedColumn : rowData }}
                  </ng-template>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>

      <div class="col-12 mt-3">
        <p-card>
          <p-header>
            <div class="p-card-body">
              <div class="p-card-title">
                <i class="fas fa-users"></i> Afspraken
              </div>
            </div>
          </p-header>

          <p-table [value]="appointmentRecords$ | async" [columns]="appointmentColumns">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  <ng-container *ngIf="col.type === 'date'; else defaultTemplate">
                    {{ rowData[col.field] | date : 'dd-MM-yyy' }}
                  </ng-container>

                  <ng-template #defaultTemplate>
                    {{ col.field | nestedColumn : rowData }}
                  </ng-template>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <p-card>
      <p-header>
        <div class="p-card-body">
          <div class="p-card-title">
            <i class="fas fa-history"></i> Tijdlijn
          </div>
        </div>
      </p-header>
      <whocares-timeline [items]="timelineItems$ | async"></whocares-timeline>
    </p-card>
  </div>
</div>
