<form [formGroup]="form">
  <ng-container *ngIf="hcpList$ | async as hcpList">
    <whocares-form-field label="Gebruiker *" [control]="form.get('userId')">
      <p-dropdown [options]="hcpList" formControlName="userId" placeholder="Selecteer..." appendTo="body">
      </p-dropdown>
    </whocares-form-field>

    <button class="btn btn-primary" (click)="submit()">
      Opslaan
    </button>
  </ng-container>
</form>
