<div class="chat-list border position-relative">
  <div class="chat-list__header">
    <span class="header-title">
      Chats
    </span>
  </div>

  <div class="chat-list__body">
    <ng-container *ngIf="chats; else loading">
      <ng-container *ngIf="chats.length; else noChats">
        <div class="chat-list__item" *ngFor="let chat of chats" (click)="selectChat(chat)"
             [class.active]="(activeChat$ | async)?.id === chat.id">
          <div class="d-flex">
            <div>
              <div class="chat-list__item-title">
                {{ chat | chatUsers }}
              </div>

              <div class="chat-list__item-message" *ngIf="chat?.lastMessage">
                {{ chat?.lastMessage.content }}
              </div>
            </div>

            <div class="date w-100 text-right">
              {{ chat?.lastMessage?.createdAt | date : 'dd-MM-yyyy HH:mm' }}
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div class="chat-list__footer" (click)="openAddChatDialog()">
      <i class="fas fa-plus"></i> Nieuwe chat
    </div>
  </div>
</div>

<ng-template #noChats>
  <div class="text-center">
    Geen chats gevonden
  </div>
</ng-template>

<ng-template #loading>
  <div class="text-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
