@import '_variables';

.chat-list {
  background: #fff;
  height: 85vh;

  .chat-list__body {
    padding: 15px 0;
  }

  .chat-list__header {
    background: #fff;
    padding: 15px;
    height: 50px;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);

    .header-title {
      font-weight: bold;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    border-top: 1px solid $primary;
    font-weight: 600;
    cursor: pointer;
  }

  .chat-list__item {
    padding: 15px;
    border-bottom: 1px solid #cecece;

    &.active {
      background: rgba($primary, 0.2);
    }

    &:hover {
      background: darken(#fff, 5);
      cursor: pointer;
    }

    .chat-list__item-title {
      font-weight: 600;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .chat-list__item-message {
      font-size: 0.9em;
      color: #333;
    }
  }
}

.chat-list__item-image {
  display: inline;
  margin-right: 15px;

  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.date {
  color: #333;
  font-size: 0.9em;
}

button.fab-button-right {
  position: fixed;
  bottom: 150px;
  right: 150px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  border-color: transparent;
  background: $primary;
}
