<div class="login-container">
  <div class="login-form-container">
    <div class="row">
      <div class="col-12 col-xl-6 image-column">
        <span class="login-company">WhoCares</span>
      </div>

      <div class="col-12 col-xl-6 form-column">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
