<nav class="navbar navbar-light">
  <span class="navbar-brand mb-0 h1">WhoCares patient</span>

  <button class="btn" data-test="logout-btn" (click)="logout()">Uitloggen</button>
</nav>

<div class="p-5" id="wrapper">
  <whocares-side-menu [menuItems]="menuItems"></whocares-side-menu>

  <div id="app-container">
    <router-outlet></router-outlet>
  </div>
</div>
