<div class="row" style="height: 100%;">
  <div class="col-lg-3" [class.hide-chat-list]="showChat">
    <whocares-chat-list [chats]="chats$ | async" (onSelectChat)="showChat = true"></whocares-chat-list>
  </div>

  <div class="col-lg-9" [class.hide-chat-list]="!showChat">
    <ng-container *ngIf="chat$ | async as chat">
      <whocares-chat-window [chat]="chat" (onBackClick)="showChat = false"></whocares-chat-window>
    </ng-container>
  </div>
</div>
