<div class="chat-window border" *ngIf="userId$ | async as userId">
  <div class="chat-window__header">
    <span class="header-title">
      <span class="back-btn d-lg-none">
        <i class="fa fa-chevron-left" (click)="back()"></i>
      </span>
      {{ chat | chatUsers }}
    </span>
  </div>

  <div class="chat-window__messages" #messageContainer>
    <div class="chat-window__message" *ngFor="let message of messages" [class.my-message]="message.userId === userId">
      <whocares-chat-message [message]="message"></whocares-chat-message>
    </div>
  </div>

  <div class="chat-window__footer d-flex">
    <input class="form-control" type="text" [(ngModel)]="message" (keyup.enter)="addChatMessage(userId)" placeholder="Typ een bericht..." />
    <button class="btn send-btn" (click)="addChatMessage(userId)"><i class="fas fa-paper-plane"></i></button>
  </div>
</div>
