@import 'variables';

.chat-window {
  height: 85vh;
  padding-bottom: 15px;
  position: relative;
}

.chat-window__message {
  margin-bottom: 15px;
}

.my-message {
  text-align: right;

  ::ng-deep {
    .chat-message {
      background: $primary;
    }
  }
}

.chat-window__messages {
  padding: 15px;
  overflow-y: auto;
  height: calc(95% - 50px);
}

.send-btn {
  background: $primary;
  color: #fff;
  border-radius: 50%;
  margin-left: 15px;
  outline: none;
}

.chat-window__footer {
  position: absolute;
  width: 100%;
  padding: 15px;
  bottom: 0;
  left: 0;
}

.chat-window__header {
  background: #fff;
  padding: 15px;
  height: 50px;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);

  .header-title {
    font-weight: bold;
  }
}
