<h2 class="text-left">Login</h2>

<div class="alert alert-danger" *ngIf="loginError">
  Unable to log in. Please check your e-mail and password
</div>

<form [formGroup]="form">
  <whocares-form-field label="E-mail">
    <input type="text" class="form-control" formControlName="email" />
  </whocares-form-field>

  <whocares-form-field label="Wachtwoord">
    <input type="password" class="form-control" formControlName="password" />
  </whocares-form-field>

  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-primary" (click)="login()">
      Log in
    </button>
  </div>
</form>
