<div class="row">
  <div class="col-4">
    <whocares-patient-info-card [patient]="patient"></whocares-patient-info-card>
  </div>

  <div class="col-8">
    <p-card>
      <p-header>
        <div class="p-card-body">
          <div class="p-card-title">
            <i class="fas fa-list"></i> Dossier
          </div>
        </div>
      </p-header>

      <p-table [value]="recordCases" [columns]="columns">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr (click)="navToDetail(rowData)">
            <td *ngFor="let col of columns">
              {{ col.field | nestedColumn : rowData }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <div class="mt-4">
      <whocares-healthcareprovider-overview></whocares-healthcareprovider-overview>
    </div>
  </div>
</div>


