<nav class="navbar navbar-light">
  <span class="navbar-brand mb-0 h1">WhoCares zorgverlener</span>

  <button class="btn" (click)="logout()">Uitloggen</button>
</nav>

<div class="p-5" id="wrapper">
  <router-outlet></router-outlet>
</div>
